<div class="card">
    <div class="dasboard-container">
        <h5>
            Welcome,
        </h5>
        <div class="row">
            <h5>{{fullname}}</h5>
        </div>
        <div class="row row-image">
            <img class="dash-image" src="{{imgurl}}">
        </div>
    </div>
</div>