<h5> <b> Welcome,</b></h5>
<form action="/login" method="POST">
    <div class="container">
        <label for="emailId"><b>Email ID</b></label>
        <input type="text" class="form-control" placeholder="Enter Email ID" name="emailId" required>

        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" required>

        <button class="btnLogin black" type="submit" value="User"> Login</button>
        <div class="devider">-----------------------------</div>
        <a href="/register" class="btn black">
            <i class="fab fa-register"></i>Register
        </a>
    </div>
</form>
<div class="section">
    <a href="/auth/facebook" class="btn blue darken-3">
        <i class="fab fa-facebook left"></i>Sign in with facebook
    </a>
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Sign in with google
    </a>
</div>