<h5> <b> Welcome,</b></h5>
<div class="container">
    <label for="emailId"><b>Email ID</b></label>
    <input type="text" placeholder="Enter Email ID" name="emailId" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button class="btn black" type="submit"><a href="/ulogin"> Login</a></button>
    <div class="devider">-----------------------------</div>
    <a href="/register" class="btn black">
        <i class="fab fa-register"></i>Register
    </a>
</div>
</form>
<div class="section">
    <a href="/auth/facebook" class="btn blue darken-3">
        <i class="fab fa-facebook left"></i>Sign in with facebook
    </a>
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Sign in with google
    </a>
</div>