<form action="/register" method="POST">
    <div class="container">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 30px; text-align:center; margin-top: 3px">
            Register</h1>
        <label for="displayName"><b>Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Your Name" name="displayName" id="displayName"
            value="" required>

        <label for="firstName"><b>First Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Your First Name" name="firstName" id="firstName"
            value="" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" class="form-control" placeholder="Enter Your Last Name" name="lastName" id="lastName"
            value="" required>

        <label for="mobileNumber"><b>Mobile Number</b></label>
        <input type="text" class="form-control" placeholder="Enter Mobile Number" name="mobileNumber" id="mobileNumber"
            value="" required>

        <label for="emailId"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="emailId" id="emailId" value="" required>

        <label for="password"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" value=""
            required>
        <button type="submit" class="btnRegister" value="User" style="margin-left: 300px;">Register</button>
    </div>
</form>

<div class="container signin">
    <a href="/" class="btn black">Sign in</a>
</div>