h5 {
    text-align: start;
    margin-left: 30px;
    padding-top: 10px;
    margin-top: 20px;
    color: rgb(92, 92, 92);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;
}

h6 {
    color: rgb(92, 92, 92);
    margin-left: -110px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5cm;
}

.pure-u-1 {
    padding-right: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dash-image {
    margin-left: 0px;
    border-radius: 10px;
}

.form-container {
    margin-left: 70px;
}

.card {
    margin-left: -50px;
}

.card-dashboard {
    align-items: center;
    margin-top: -30px;
    margin-left: 190px;
    margin-right: 190px;
}

.login-container {
    width: 500px;
    margin-top: 50px;
    text-align: center;
}

.dasboard-container {
    width: 550px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.nav-wrapper {
    margin-left: 60px;
}

.sidenav {
    background: rgb(107, 225, 249);
    background: linear-gradient(90deg, rgba(107, 225, 249, 1) 0%, rgba(50, 45, 221, 1) 100%, rgba(104, 163, 242, 1) 100%);
    height: 100%;
    width: 210px;
    position: fixed;
}

.help-container {
    margin-top: 20%;
}

.help {
    text-align: left;
}

.settng {
    text-align: start;
}

.setting-container {
    margin-top: 100%;
}

.fas {
    margin-left: 10px;
}

::placeholder {
    color: black;
    opacity: 1;
}