<nav class="blue darken-3">
    <div class="nav-wrapper container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard"><i class="fas fa-home fa-lg"></i>Dashboard</a></li>
            <div class="help-container">
                <li><a class="help" href="#" style="margin-left: -10px;">Help</a></li>
                <div class="link">
                    <li><a href="#" style="margin-left: -10px;"><i class="fas fa-comments fa-lg"></i>Raise a Ticket</a>
                    </li>
                    <li><a href="#" style="margin-left: -10px;"><i class="fas fa-globe-asia fa-lg"></i>FAQs</a></li>
                </div>
            </div>
            <div class="setting-container">
                <li><a class="setting" href="#" style="margin-left: -10px;">Setting</a></li>
                <div class="end-container">
                    <li><a href="#" style="margin-left: -10px;"><i class="fas fa-user-circle fa-lg"></i>Profile</a>
                    </li>
                    <li><a href="/auth/logout" style="margin-left: -10px;"><i class="fas fa-cog fa-lg"></i>Log Out</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>

</nav>